<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...hello world!</h1>

        {% if categories %}
            <ul>
                {% for c in categories %}
                    <li><a href="/rango/category/{{ c.slug }}">{{ c.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        
        <a href="">About</a><br />
        <!-- <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /> -->
    </body>
</html>