{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}!</h1>
    {% else %}
        <h1>Rango says... hello world!</h1>
    {% endif %}

    {% if categories %}
        <ul>
            {% for c in categories %}
                <li><a href="{% url 'rango:category' c.slug %}">{{ c.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}

    <button onClick="alert('You clicked the button using Javascript.');">
        Click Me - I run Javascript
    </button>


    <button id="index-btn"> Click Me - I'm Javascript with JQuery </button>

{% endblock %}